REQUIREMENTS:
1. Multiplayer Game
2. Customizable Board in terms of snake and ladder placement and
   Board size
3. Customizable in terms of number of dice used
4. When Game Board loads it should :
    4.1 Load the configured Board size
    4.2 Load the configured snake and ladder
    4.3 Load the configured number of dice
    4.4 Load the number of players who will play the game and all players
        should be at starting location